

html, body {
background-color:rgb(248, 248, 248);
margin: 10px;
margin-top: 19px;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 25px;
}

a {
  text-decoration: none;
  color: rgb(103, 146,127);
}

li a:hover {
  color: peachpuff;
}





