

html, body {
  background-color: rgb(127, 179, 155); /* grau-weiss: rgb(248, 248, 248); gruen: rgb(103, 146,127); */
  margin: 10px;
}

h1, h2, h3, h4, h5 {
  display: block;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20;  
  color: rgb(103, 146,127);
}

p {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.8;
  word-wrap: break-word;
  color: rgb(103, 146,127);
}


b {
  font-family: 'Shadows Into Light', Arial, cursive;
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 1.2;
  /* color: rgba(255, 170, 124, 0.788); */
}

ul {
  list-style-type: none;

}

li {
  display: inline;
  margin: 25px;
}

a {
  text-decoration: none;
  font-size: 32;
  font-variant: small-caps;
  color: rgb(248, 248, 248);
}


p > a {
  color: rgb(103, 146,127);
  font-size: 18;
  font-weight: 800;
}

li a:hover {
  color: rgb(255, 193, 160);
  /*opacity: 0.7;*/
}

li a:active {
  color: rgb(255, 193, 160);
  /*opacity: 0.7;*/
}

/* Large desktop */
@media (min-width: 1200px) {  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }

/* Landscape phones and down */
@media (max-width: 480px) { 
  p {
    font-size: 10;
  }

  b {
    font-size: 15;
  }

  a {
    font-size: 20;
  }
  h1, h2, h3, h4, h5 {
    margin-bottom: 10; 
    font-size: 120% !important;
  }

  .col1-span3 {
    grid-column: 1 /-1 !important;
  }

  .col5-span3 {
    grid-column: 1 /-1 !important;
  }

  .col9-spantoend {
    grid-column: 1 /-1 !important;
  }

  .content-span-six {
    grid-column: 1 /-1 !important;
    justify-content: center;
  }

  .col3 {
    grid-column: 1 /-1 !important;
    justify-content: center;
  }

  .col6 {
    grid-column: 1 /-1 !important;
  }

  .col9 {
    grid-column: 1 /-1 !important;
  }

  .align-right {
    text-align: center !important;
  }

  html, body {
    margin: 0;
  }

  .con-twelve-col {
    padding-left: 30 !important;
    padding-right: 30 !important;
  }

  .inner-align-center {
    padding: 10 !important;
  }

  .pad20 {
    padding: 10 !important;
  }

  .space {
    margin: 10 10 10 10 !important;
    padding: 20 1 10 !important;
  }

  .footer-img {
    height: 50 !important;
  }
 }





