.con-twelve-col {
    display: grid;
    margin-left: 25px;
    margin-right: 25px;
    grid-template-columns: repeat(12, 1fr);
    background-color: #fff;
} 

.con-three-col {
    grid-template-columns: repeat(3, 1fr);
}

.con-twelve-col > div {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: 	rgb(248, 248, 248);
    /*background-color: rgb(253, 233, 235);*/
}

.header {
    height: 250px;
    justify-content: center;
    grid-column: 1 / -1;
    width: 100%;
    overflow: hidden;
    background-color: rgb(127, 179, 155); 
}

.img-header {
    min-width: 1291px;
    border: 1.5px solid #d6dde0;
}

#menue {
    justify-content: center;
    grid-column: 1 / -1;
    border: 0;
    padding-bottom: 12;
    padding-top: 8;
    background-color: rgb(127, 179, 155); /* R: 248 G: 168 B: 141*/
}

.menue-fixed {
    position: fixed;
    top: 0;
    left: 45;
    right: 45;
    height: 50px;
    margin: 0 auto;
    align-content: center;
}


.icon {
    display: none;
}

.space {
    justify-content: center;
    grid-column: 1 / -1;
    height: 38px;
}

.content {
    grid-column: 1 / -1;
    padding: 10px;
    justify-content: center;
}

.content-one-of-two {
    grid-column: 1 / 7;
    padding: 10px;
}

.content-two-of-two{
    grid-column: 7 / -1;
    padding: 10px;
}

.inner-align-left {
    display: inline-flex;
    min-height: 100px;
    padding: 18;
    text-align: left;
}

.inner-align-center {
    display: inline-flex;
    min-height: 100px;
    padding: 18;
    text-align: center;
}

.inner-align-right {
    display: inline-flex;
    min-height: 100px;
    padding: 18;
    text-align: right;
}

.group-title {
    justify-content: center;
    grid-column: 1 / -1;
}

.group-title h2 {
    font-weight: 150;
    font-size: 45;  
}

.group-title h4 {
    font-weight: 200;
    font-size: 30;
}

.time-wed {
    background-color: darkgrey;
    height: 320px;
    width: 150px;
    text-align: center;
}

.time-wed-horizontal {
    background-color: darkgrey;
    height: 150;
    width: 400;
    text-align: center;
}

.inner-header {
    background-color: darkgrey;
    height: 150;
    width: 700;
    text-align: center;
}

.map {
    background-color: darkgrey;
    height: 250;
    width: 400;
    text-align: center;
}

.footer {
    justify-content: center;
    grid-column: 1 / -1;
    max-height: 80px;
    justify-content: center;
    text-align: center;
}

.con-img {
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 200px;
}

.con-img-l {
    height: auto;
    width: auto;
    max-height: 400px;
    max-width: 500px;
}