.con-twelve-col {
    display: grid;
    margin-left: 25px;
    margin-right: 25px;
    grid-template-columns: repeat(12, 1fr);
    background-color: #fff;
} 

.con-twelve-col > div {
    display: flex;
    align-items: center;
}

.header {
    height: 250px;
    justify-content: center;
    grid-column: 1 / -1;
    overflow: hidden;
}

.img-header {
    max-width: 100%;
    background-color: #fff;
}

#menue {
    justify-content: center;
    grid-column: 1 / -1;
    border: 0;
    padding-bottom: 5;
    background-color: rgb(127, 179, 155); /* R: 248 G: 168 B: 141*/
}

.menue-fixed {
    position: fixed;
    top: 0;
    left: 45;
    right: 45;
    height: 50px;
    margin: 0 auto;
    align-content: center;
}

.icon {
    display: none;
}

.space {
    justify-content: center;
    grid-column: 1 / -1;
    margin: 30;
    margin-left:200;
    margin-right:200;
    padding-bottom: 10;
    border-bottom: 1.5px solid rgb(103, 146,127);
}

@media (max-width: 980px) {
    .content-span-six {
        grid-column: 1 /-1 !important; 

    }    
}

.content-span-six {
    grid-column: auto / span 6;
    padding-left: 30;
    padding-right: 30;
}
.content {
    grid-column: 1 / -1;
    padding: 30 10 30 10;
    justify-content: center;
}

.span-four {
    grid-column: auto /span 4;
    padding-left: 30;
    padding-right: 30;
}

.span-two {
    grid-column: auto /span 2;
    padding-left: 30;
    padding-right: 30;
}

.from-3-span-two {
    grid-column: 4 /span 2;
    padding-left: 30;
    padding-right: 30;
}


.inner-align-left {
    display: inline-flex;
    min-height: 100px;
    padding: 18;
    text-align: left;
}

.inner-align-center {
    display: inline-flex;
    min-height: 100px;
    padding-left: 120;
    padding-right: 120;
    text-align: center;
}

.inner-align-right {
    display: inline-flex;
    min-height: 100px;
    padding: 18;
    text-align: right;
}

.group-title {
    justify-content: center;
    grid-column: 1 / -1;
}

.group-title h2 {
    font-weight: 150;
    font-size: 45;  
}

.group-title h4 {
    font-weight: 200;
    font-size: 30;
}

.time-wed {
    background-color: darkgrey;
    height: 320px;
    width: 150px;
    text-align: center;
}

.time-wed-horizontal {
    background-color: darkgrey;
    height: 150;
    width: 400;
    text-align: center;
}

.inner-header {
    background-color: darkgrey;
    height: 150;
    width: 700;
    text-align: center;
}

.map {
    background-color: darkgrey;
    height: 250;
    width: 400;
    text-align: center;
}

.footer {
    justify-content: center;
    grid-column: 1 / -1;
    max-height: 80px;
    justify-content: center;
    text-align: center;
    font-family: 'Shadows Into Light', Arial, cursive;
    font-size: 27px;
    letter-spacing: 1.2;
}

.con-img {
    max-height: 250px;
    max-width: 200px;
}

.con-img-l {
    height: auto;
    width: auto;
    max-height: 400px;
    max-width: 500px;
}

