.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

html, body {
background-color: #ffeead;
margin: 10px;
}


.filling {
  text-align: center;
  width: 100%;
  height: 300px;
}

