.con-twelve-col {
    display: grid;
    margin-left: 25px;
    margin-right: 25px;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 50px 500px 80px; 
} 

.con-twelve-col > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
  }

.con-three-col {
    grid-template-columns: repeat(3, 1fr);
}

.margin-div {
    margin-left: 25px;
    margin-right: 25px;
}

.header {
    grid-column: 1 / -1;
    width: 100%; 
    overflow:hidden;
    background-color: paleturquoise;
}

.menue {
    position: fixed;
    top: 0;
    left:44;
    right:44;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: plum;

}

.content {
    grid-column: 1 / -1;
    background-color: lightblue;
}

.content-one-of-two {
    grid-column: 1 / 7;
    /* grid-area: c; */
    background-color: lightblue;

}

.content-two-of-two{
    grid-column: 7 / -1;
    background-color: lightblue;
}

.footer {
    grid-column: 1 / -1;
    /* grid-area: f; */
    background-color: lightcoral;
}